{% extends 'pruebamongo/base.html' %}
{% include 'accounts/nav.html' %}
{% block content %}
<div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">CREAR TAREA</p>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">{% csrf_token %}
                        {% comment %} <h3 class="mb-3 font-weight-light">Proyecto: {{ proyecto }}</h3> {% endcomment %}
                        <h5>Proyecto al que se le asigana la tarea</h5>
                        {{form.proyecto.errors}}
                        {{form.proyecto}}
                        <h5>Codigo de la historia de usuario</h5>
                        {{form.identificacionhistoriausuario.errors}}
                        {{form.identificacionhistoriausuario}}
                        <h5>Descripcion de la historia de Usuario</h5>
                        {{form.descripcionhistoriausuario.errors}}
                        {{form.descripcionhistoriausuario}}
                        <h5>Documentacion</h5>
                        {{form.documentacion}}
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary btn-block text-white btn-user">Crear Historia de Usuario</button>
                        </form>
                    </div>
</div>
{% endblock content %}