{% extends 'pruebamongo/base.html' %}
{% include 'accounts/nav.html' %}
{% block content %}

<div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">LISTA TAREAS</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Tareas</th>
                                        <th>Identificacion</th>
    
                                        <th>Registrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for tar in tareas %}
                                    <tr>
                                        <td>{{tar.proyecto}}</td>
                                        <td>{{tar.identificacionhistoriausuario}}</td>
                                        
                                        <td><a class="btn btn-primary btn-block text-white btn-user" href="{% url 'accounts:asignar-tarea' tar.id%}">Asignar</a></td>
                                    </tr>
                                {% endfor %}
                                   
                                </tbody>
                                
                                
                            </table>
                        </div>


 {% endblock %}