{% extends 'pruebamongo/base.html' %}

{% block content %}
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">TODOS LOS EMPLEADOS REGISTRADOS</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-nowrap">
                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                    <label>Show&nbsp;
                        <select class="form-control form-control-sm custom-select custom-select-sm">
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-md-right dataTables_filter" id="dataTable_filter">
                    <label>
                        <input
                            type="search"
                            class="form-control form-control-sm"
                            aria-controls="dataTable"
                            placeholder="Search"
                        >
                    </label>
                </div>
            </div>
        </div>
        <div
            class="table-responsive table mt-2"
            id="dataTable"
            role="grid"
            aria-describedby="dataTable_info"
        >
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Grupo Proyecto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in object_list %}
                    <tr>
                        <td>{{empleado.first_name}}</td>
                        <td>{{empleado.last_name}}</td>
                        <td>{{empleado.email}}</td>
                        <td>{{empleado.direccion}}</td>
                        <td>{{empleado.telefono}}</td>
                        <td>{{empleado.groups}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock content %}
