{% include 'pruebamongo/head.html' %}
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-0 col-lg-8 col-xl-5">
                <div class="card my-4">
                        <div>
                            <div>
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Ingresar</h4>
                                    </div>
                                        <form class="user" method="POST">
                                        {% csrf_token %}
                                        <p><label for="id_username">Username:</label> 
                                        <input type="text" class="border rounded-0 form-control" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"></p>
                                        <p><label for="id_password">Password:</label> 
                                        <input type="password" class="border rounded-0 form-control" name="password" autocomplete="current-password" required="" id="id_password"></p>
                                        <div class="form-group">
                                        </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Iniciar sesion</button>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'pruebamongo/script.html' %}
</body>